.product-container {
    width: 350px;
    margin: 50px;
    border: 2px solid gray;
    padding: 20px;
    
    display: block;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
} 

.product-image{
    height: 200px
}
.name{
    font-weight: bold;
    padding: 15px;
}

.title{
    padding: 40px;
}